// Заголовки, общие БЄМ блоки и проче...
.hoverable {
	transition: color 0.3s, border-color 0.3s;
}
.hoverable:hover {
	color: $--mainGreen;
	border-color: $--mainGreen;
}

.btn {
	display: flex;
	justify-content: center;
	position: relative;
	font-size: rem(24);
	font-weight: 700;
	line-height: rem(28);
	letter-spacing: 0.01em;
	color: $--black;
	background-color: $--lightGreen;
	border-radius: rem(50);
	border: rem(14) solid $--lightGreen;
	padding: rem(2) rem(34);
	transition: border 0.3s;
	&:hover {
		border-left-color: $--white;
		border-right-color: $--white;
	}
	&_dark {
		color: $--white;
		background-color: $--darkGreen;
		border-color:  $--darkGreen;
		&:hover {
			border-color: $--darkGreen;
			border-left-color:  $--lightGreen;
			border-right-color: $--lightGreen;
		}
	}
}
.section-title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: rem(40);
	font-weight: 600;
	line-height: rem(47);
	text-align: center;
	color: $--lightGreen;
	margin: 0 rem(40);
	&:before, &:after {
		content: "";
		display: inline-block;
		flex: 1 0 auto;
		max-width: rem(220);
		height: rem(1.4);
		background-color: $--lightGreen;
		@media screen and (max-width: $mbpMobile) {
			display: none;
		}
	}
	&:before {
		margin-right: rem(40);
	}
	&:after {
		margin-left: rem(40);
	}
}
.contact-item {
	color: $--white;
	font-feature-settings: "lnum";
	&__link {
		display: flex;
		align-items: center;
		transition: color 0.3s;
		&:hover {
			color: $--hoverGreen;
		}
	}
	&__icon {
		width: rem(24);
		height: rem(24);
		margin-right: rem(15);
		fill: $--lightGreen;
		transition: fill 0.3s;
	}
	&__link:hover &__icon {
		fill: $--hoverGreen;
	}
	&__cap {
		flex: 0 0 auto;
	}
	&__link[href^="mailto"] &__cap, &__link[href^="http"] &__cap {
		text-decoration: underline;
	}
}
.logo {
	&__link {
		display: flex;
	}
	&__img {
		width: rem(70);
		margin-right: rem(9);
		@media screen and (max-width: $mbpSmallMobile) {
			width: rem(54);
		}
	}
	&__cap {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		color: $--white;
		transition: color 0.3s;
	}
	&__link:hover &__cap {
		color: $--hoverGreen;
	}
	&__cap-name {
		font-size: rem(22);
		line-height: rem(26);
		font-weight: 500;
		margin-bottom: rem(2);
		@media screen and (max-width: $mbpSmallMobile) {
			font-size: rem(18);
		}
		& strong {
			font-weight: 800;
		}
	}
	&__cap-org-name {
		font-size: rem(14);
		line-height: rem(16);
		font-weight: 400;
	}
}