@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройки шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Raleway";
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию
@import "theme.scss";

// Настройки адаптивной сетки ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1280;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 40;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты без единиц измерения
$mbpDesignNu: $maxWidth;
$mbpFullHdPcNu: 1899;
$mbpLargePcNu: 1639; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpMediumPcNu: 1359; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpPcNu: 1199; // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpTabletNu: 991.98; // Планшеты, некоторые телефоны в горизонтальном положении
$mbpMobileNu: 767.98; // Телефоны L
$mbpSmallMobileNu: 479.98; // Телефоны S

// Брейк-поинты
$mbpDesign: px($mbpDesignNu);
$mbpFullHdPc: px($mbpFullHdPcNu);
$mbpLargePc: px($mbpLargePcNu); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpMediumPc: px($mbpMediumPcNu); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpPc: px($mbpPcNu); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$mbpTablet: px($mbpTabletNu); // Планшеты, некоторые телефоны в горизонтальном положении
$mbpMobile: px($mbpMobileNu); // Телефоны L
$mbpSmallMobile: px($mbpSmallMobileNu); // Телефоны S

// Брейк-поинты для совместимости
$design: px($maxWidth);
$pcFullHd: px(1899);
$pcLarge: px(1639); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$pcMedium: px(1359); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$pc: px(1199); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: px(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: px(767.98); // Телефоны L
$mobileSmall: px(479.98); // Телефоны S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Обнуление ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================

body {
	position: relative;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// Сайт загружен
	.loaded & {
	}
}

// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
.page {
	display: flex;
	flex-wrap: wrap;
	& > * {
		flex: 1 1 100%;
	}
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
// @if ($responsiveType==1) {
// 	// Отзывчивая
// 	[class*="__container"] {
// 		@if ($maxWidthContainer>0) {
// 			max-width: rem($containerWidth);
// 			margin: 0 auto;
// 		}
// 		@if ($containerPadding>0) {
// 			@if ($maxWidthContainer>0) {
// 				padding: 0 rem(math.div($containerPadding, 2));
// 			} @else {
// 				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
// 				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
// 			}
// 		}
// 	}
// } @else {
// 	// По брейк-поинтам
// 	[class*="__container"] {
// 		margin: 0 auto;
// 		@if ($maxWidthContainer>0) {
// 			max-width: rem($containerWidth);
// 		} @else {
// 			@if ($containerPadding>0) {
// 				padding: 0 rem(math.div($containerPadding, 2));
// 			}
// 		}
// 		@media (max-width: $pc) {
// 			max-width: rem(970);
// 		}
// 		@media (max-width: $tablet) {
// 			max-width: rem(750);
// 		}
// 		@media (max-width: $mobile) {
// 			max-width: none;
// 			@if ($containerPadding>0 and $maxWidthContainer>0) {
// 				padding: 0 rem(math.div($containerPadding, 2));
// 			}
// 		}
// 	}
// }
[class*="__container"] {
	padding: 0 rem(20);
	margin: 0 auto;
	max-width: $containerWidth * 1px;
	@media screen and (max-width: $mbpTablet) {
		padding-left: rem(15);
		padding-right: rem(15);
	}
	@media screen and (max-width: $mbpSmallMobile) {
		padding-left: rem(10);
		padding-right: rem(10);
	}
}
// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";
@import "common.scss";

// Подключение стилей общих элементов проекта
@import "theme.scss";
@import "header.scss";
@import "footer.scss";

// Подключение стилей отдельных блоков
@import "index/welcome.scss";
@import "index/description.scss";
@import "index/advantages.scss";
@import "index/targeting.scss";
@import "index/contact.scss";
@import "article.scss";

.page {
	background-color: $--mainBg;
}