$--mainGreen: #00BA40;
$--lightGreen: #2DFDBC;
$--darkGreen: #00A571;
$--transparentGray: #9D9D9D50;
$--mainGray: #9D9D9D;
$--deepGray: #565656;
$--graphite: #333333;
$--blanchedAlmond: #FFF5E1;
$--deepSea: #13474A;
$--darkBlue: #13294A;
$--lightCyan: #EBFFF3;
$--lightPowderBlue: #EBF5FF;
$--mainOrange: #FF6E1D;
$--mainBlue: #329DFF;
$--white: white;
$--black: black;
$--mainBg: #081116;
$--hoverBg: #0d1b23;
$--mainText: #353535;
$--iconBg: rgba(0, 165, 113, 0.2);
$--deepGeen: #0F4037;
$--hoverGreen: #00DF99;
$--placeholder: #8F8F8F;
$--border: #A7D3C6;
$--error: #FF6E1D;